<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div class="fcontainer">

   <div class="iteam">
    <h4>
  <p>We are India's Most Loved <br>
   Coding Community. Join us! </p>
</h4>
     </div>


    <div class="iteam">
          <ul class="footer">
  <h5>Know More</h5>  
  <li> <a href="/index" target="_blank" rel="noopener noreferrer">Home </a> </li>
  <li> <a href="/index" target="_blank" rel="noopener noreferrer"> Contact</a></li>
  <li> <a href="/index" target="_blank" rel="noopener noreferrer">Policy </a></li>
  <li><a href="/index" target="_blank" rel="noopener noreferrer">Diclaimer</a></li>
  <li><a href="/index" target="_blank" rel="noopener noreferrer">Privacy</a></li>
  
  
</ul>
 </div>
        <div class="iteam">
          <h5 class="gettouch">GET IN TOUCH</h5>
       Email: Gaurav@techindia.com
         </div>

     
        <div class="iteam"> </div>
        
    </div>


    
  


<div class="last">
       <div class="last2">
            
  <center>    <h6>This website made using HTML,CSS,EXPRESS,NODE AND MONGODB</h6> </center>  

     </div>
 </div>
</body>
</html>