<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  
    {{>navbars2}}

<div class="container2">
 
<div class="box2">
    
<p><span class="codes"><h3>Coding World </h3></span>
    Confused on which course to take? <br>
 I have got you covered. Browse courses and find <br>
 out the best course for you. Its free! Code <br>
 With Harry is my attempt to teach basics and <br>
 those coding techniques to people in short time <br>
 which took me ages to learn. </p>
</div>

<div class="box2">
 <span class="codeimg">   <img src="/image/code.jpg" alt="hello" srcset=""></span>
</div>
</div>


{{!-- Courses Value --}}
<center><span class="codes"><h3>Courses </h3></span></center>

<div class="container2">

<div class="box2">
    

 
 <div class="card" style="width: 25rem;">
  <img src="/image/logo.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Python Tutorials - 100 Days of Code</h5>
    <p class="card-text">Python is one of the most demanded 
        programming languages in the <br>
         job market. Surprisingly, it is <br>
         equally easy to learn and master <br>
         Python. Let's commit our 100 <br>
         days of code to python!</p>
    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

{{!-- Second Box --}}

<div class="box2">

 
 <div class="card" style="width: 25rem;">
  <img src="/image/image2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ultimate JavaScript Course</h5>
    <p class="card-text">This latest JavaScript course
         comes with premium curriculum  that covers everything from <br>
          basics to advance. On top of <br>
           that, you will get my handwritten <br>
           notes of JS for completely free <br>
            What are you waiting for? Just Enroll Buddy </p>
    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

{{!-- Third Box --}}


<div class="box2">

 
 <div class="card" style="width: 25rem;">
  <img src="/image/image3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">React JS Tutorials For Beginners</h5>
    <p class="card-text">React is a free and open-source <br>
        front-end JavaScript library.<br>
         This series will cover React<br>
          from starting to the end. <br>
          We will learn react from <br>
          the ground up!</p>
    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

</div>
<br>
<br>


<hr>

<div class="container2">

<div class="box2">
    

 
 <div class="card" style="width: 25rem;">
  <img src="/image/dev.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tailwind Course In Hindi</h5>
    <p class="card-text">Complete Tailwind CSS Course by
CodeWithHarry in Hindi - Learn Tailwind CSS <br>
        from scratch for free! <br>
       </p>
    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

{{!-- Second Box --}}

<div class="box2">

 
 <div class="card" style="width: 25rem;">
  <img src="/image/sanity.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sanity.io Tutorials in Hindi</h5>
    <p class="card-text">Sanity.io is the platform for structured content.
        This course will not only cover Sanity from <br>
         starting to the end, but it has projects for<br>
         hands-on experience. <br>
</p>

    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

{{!-- Third Box --}}


<div class="box2">

 
 <div class="card" style="width: 25rem;">
  <img src="/image/Strapi.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Strapi Tutorial For Beginners</h5>
    <p class="card-text">This course contains everything that you <br>
       should know about Strapi. It is an open-source,<br>
        Headless CMS that saves lot of time for<br>
        developers by giving them freedom to use<br>
         their favorite tools and frameworks. <br>
       </p>
    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

</div>



<hr>



    
<div class="container2">
 
<div class="box2">
     <span class="codeimg">   <img src="/image/image2.jpg" alt="hello" srcset=""></span>

   
</div>

<div class="box2">

</div>
</div>


{{!-- Courses Value --}}
<center><span class="codes"><h3>Courses </h3></span></center>

<div class="container2">

<div class="box2">
    

 
 <div class="card" style="width: 25rem;">
  <img src="/image/dev.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Python Tutorials - 100 Days of Code</h5>
    <p class="card-text">Python is one of the most demanded 
        programming languages in the <br>
         job market. Surprisingly, it is <br>
         equally easy to learn and master <br>
         Python. Let's commit our 100 <br>
         days of code to python!</p>
    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

{{!-- Second Box --}}

<div class="box2">

 
 <div class="card" style="width: 25rem;">
  <img src="/image/dev.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ultimate JavaScript Course</h5>
    <p class="card-text">This latest JavaScript course
         comes with premium curriculum  that covers everything from <br>
          basics to advance. On top of <br>
           that, you will get my handwritten <br>
           notes of JS for completely free <br>
            What are you waiting for? Just Enroll Buddy </p>
    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

{{!-- Third Box --}}


<div class="box2">

 
 <div class="card" style="width: 25rem;">
  <img src="/image/dev.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">React JS Tutorials For Beginners</h5>
    <p class="card-text">React is a free and open-source <br>
        front-end JavaScript library.<br>
         This series will cover React<br>
          from starting to the end. <br>
          We will learn react from <br>
          the ground up!</p>
    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

</div>
<br>
<br>

<hr>
{{!-- Bottom Work --}}
{{>bottom}}
</body>
</html>