<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    {{>navbar}}

<div class="container2">
 
<div class="box2">
    
<p><span class="codes"><h3>Coding World </h3></span>
    Confused on which course to take? <br>
 I have got you covered. Browse courses and find <br>
 out the best course for you. Its free! Code <br>
 With Harry is my attempt to teach basics and <br>
 those coding techniques to people in short time <br>
 which took me ages to learn. </p>
</div>

<div class="box2">
 <span class="codeimg">   <img src="/image/code.jpg" alt="hello" srcset=""></span>
</div>
</div>


{{!-- Courses Value --}}
<center><span class="codes"><h3>Courses </h3></span></center>

<div class="container2">

<div class="box2">
    

 
 <div class="card" style="width: 25rem;">
  <img src="/image/dev.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Python Tutorials - 100 Days of Code</h5>
    <p class="card-text">Python is one of the most demanded 
        programming languages in the <br>
         job market. Surprisingly, it is <br>
         equally easy to learn and master <br>
         Python. Let's commit our 100 <br>
         days of code to python!</p>
    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

{{!-- Second Box --}}

<div class="box2">

 
 <div class="card" style="width: 25rem;">
  <img src="/image/dev.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ultimate JavaScript Course</h5>
    <p class="card-text">This latest JavaScript course
         comes with premium curriculum  that covers everything from <br>
          basics to advance. On top of <br>
           that, you will get my handwritten <br>
           notes of JS for completely free <br>
            What are you waiting for? Just Enroll Buddy </p>
    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

{{!-- Third Box --}}


<div class="box2">

 
 <div class="card" style="width: 25rem;">
  <img src="/image/dev.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">React JS Tutorials For Beginners</h5>
    <p class="card-text">React is a free and open-source <br>
        front-end JavaScript library.<br>
         This series will cover React<br>
          from starting to the end. <br>
          We will learn react from <br>
          the ground up!</p>
    <a href="#" class="btn btn-primary">Start Watching</a>
  </div>
</div>
</div>

</div>
<br>
<br>

<center><h3>For More courses please Register and Login</h3></center>

<hr>

<center><span class="codes"><h3>Testimonial</h3></span></center>

<div class="container3">

<div class="box2-bottom">
  <br>
<br>

I don't have words to thank this man, <br>
 I'm really grateful to have this  <br>
 channel and website in my daily routine <br>
 . If you're a mere beginner, then you <br>
  can trust this guy and can put your time <br>
   into his content. I can assure you that <br>
    it'll be worth it. <br>
<h3>Gaurav</h3>
    
</div>

 
<div class="box2-bottom">
<br>
<br>



For everyone who wants to level up their #Coding <br>
 and #Dev skills - seriously, this channel <br>
 is for you! Both basic and advanced stacks<br>
  are covered on this channel, and one can learn<br>
   according to his skill levels. And the icing<br>
    on the cake is, everything is available for free.

</div>

</div>

<hr>

{{>bottom}}

</body>
</html>