<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   {{>navbars2}}
   <hr>
<center><h3>Hey You are Live now</h3></center>
<hr>
{{!-- Video Start class --}}
 <center><h3>Sanity Course</h3></center>
<div class="video">
<iframe width="300" height="200" src="https://www.youtube.com/embed/LpCFF2hzPzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/ZA9Ra7GtRS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/dLYuR-thudk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/uwRaIVKT_gk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
 <center><h3>JavaScript Course</h3></center>
<div class="video">
<iframe width="300" height="200" src="https://www.youtube.com/embed/ER9SspLe4Hg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/Q4p8vRQX8uY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/Icev9Oxf0WA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/qpU3WIqRz9I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<center><h3>Strapi</h3></center>
<div class="video">
    <iframe width="300" height="200" src="https://www.youtube.com/embed/CB3pEMl9TOA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/zBt0jzt-PAA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/sGKDxmsmXqQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/PC70h-OncUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>

<center><h3>Next Js</h3></center>
<div class="video">
   <iframe width="300" height="200" src="https://www.youtube.com/embed/DZKOunP-WLQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/ne_h515wcv4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/zSxopWQF4cg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="300" height="200" src="https://www.youtube.com/embed/5Dd6JHmyLEc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>

{{!-- Video End class --}}
<hr>
{{!-- Bottom Work --}}
{{>bottom}}
</body>
</html>